.button {
  z-index: 10;
  color: #000;
  &:hover {
    color: var(--black-2);
  }
  &:focus {
    color: var(--black-2);
  }
}
.product {
  width: 20vw;
  &:hover {
    outline-offset: 4px;
    outline: 1px dashed var(--grey-3);
  }
}
.productInfo {
}
