.container__main {
  justify-content: start;
  display: flex;
  gap: 1rem;
}
.container__products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
  gap: 1rem;
}
.container__filters {
  width: 18vw;
  display: flex;
  flex-direction: column;
}
