.main {
  display: grid;
  grid-template-columns: (1fr 1fr);
  gap: 1rem;
  padding-right: 1rem;
  @media (max-width: 828px) {
    grid-template-columns: (1fr);
  }
}
.image {
  outline-offset: 4px;
  &:hover {
    outline: 1px dashed var(--grey-3);
  }
}
