.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}
.button {
  color: #000;
  &:hover {
    color: var(--black-2);
  }
  &:focus {
    color: var(--black-2);
  }
}
.description {
  padding-top: 1rem;
}
.informations {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
// .color_container {
//   padding-top: 1rem;
//   display: flex;
//   gap: 0.5rem;
// }
// .color {
//   width: 2rem;
//   height: 2rem;
//   border-radius: 0.2rem;
//   padding: 1rem;
//   border: 1px solid rgb(227, 227, 227);
//   &:hover {
//     border: 1px solid rgb(134, 134, 134);
//   }
//   &:focus {
//     border: 1px solid rgb(33, 29, 29);
//   }
// }
